*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img:first-of-type{
    width: 200px;
    height: auto;
}

img:nth-of-type(2){
    width: 25%;
    height: auto;
}

img:nth-of-type(3){
    width: 10em;
    height: auto;
}

img:nth-of-type(4){
    width: 20rem;
    height: auto;
}

img:nth-of-type(5){
    width: 17.5vw;
    height: auto;
}

img:last-of-type{
    width: 37.5vh;
    height: auto;
}